.vertical-align {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.horizontal-align {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vert-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.vert-wrapper .vert {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
